@import '~@angular/material/theming';
@import "../../../styles/colors.scss";
@include mat-core();

$primary: map-get($app-theme, primary);
$secondary: map-get($app-theme, accent);

.bg {
  background-color: mat-color($primary, 100);
}
.d-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.logo {
  width: 4rem;
  padding: 0.4rem;
}